@import url(../scss/nav.css);
@import url(../scss/header.css);
@import url(../scss/hero.css);
@import url(../scss/projects.css);
@import url(../scss/technology.css);
@import url(../scss/contact.css);
@import url(../scss/footer.css);
@import url(../css/mobile.css);

/* $white: #fff;
$dark-white: #F3F3F3;
$light-blue: #00C0E5;
$dark-gray: #313234;
$footer-gray: #3F3F3F;
$footer-bottom: #202123;
$black: #000;
$black-transparency: rgba(0, 0, 0, 0.5);

// font
$font: 'Open Sans',
sans-serif;
$font-russo: 'Russo One',
sans-serif;
$font-ranchers:'Ranchers', */

body {
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
}

/*nav*/

/*main*/

.main {
	max-width: 1920px;
	margin: 0 auto;
	height: 100vh;
}

/*projects*/

/*Technology*/

/* contact*/

/*footer*/
