.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.contact__backround {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/contact-bgc.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .5;
}

.contact__form__wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  border: 3px solid red;
}

.contact__form__wrapper .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.contact__form__wrapper .contact__form .contact__label {
  margin: 20px 0;
}

.contact__form__wrapper .contact__form .contact__input {
  max-width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0.5px solid black;
  outline: none;
  transition: .3 ease-in-out;
}

.contact__form__wrapper .contact__form .contact__input:focus {
  border: 2px solid #3c3c3c;
}

.contact__form__wrapper .contact__form .contact__textarea {
  max-width: 500px;
  padding: 5px;
  resize: none;
  border-radius: 5px;
  outline: none;
}

.contact__form__wrapper .contact__form .contact__textarea:focus {
  border: 2px solid #3c3c3c;
}

.contact__form__wrapper .contact__form .contact__form__submit {
  width: 150px;
  height: 40px;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  transition: .2s ease-in-out;
}

.contact__form__wrapper .contact__form .contact__form__submit:hover {
  background-color: transparent;
  border: 1px solid #3c3c3c;
  color: #3c3c3c;
  transform: scale(1.1);
}

.contact__other__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 10px;
  padding: 20px;
}

.contact__other__wrapper .contact__phone__img,
.contact__other__wrapper .contact__mail__img {
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  transition: .1s ease-in-out;
}

.contact__other__wrapper .contact__phone__img:hover,
.contact__other__wrapper .contact__mail__img:hover {
  transform: scale(1.1);
}

.contact__other__wrapper .contact__mail__despription,
.contact__other__wrapper .contact__phone__despription {
  width: 150px;
  padding: 5px 15px;
  border: 2px solid #3c3c3c;
  border-radius: 5px;
  color: #fff;
  background-color: #3c3c3c;
  transition: .2s ease-in-out;
  text-align: center;
}

.contact__other__wrapper .contact__despription__active--js {
  background-color: transparent;
  color: #3c3c3c;
}

@media (max-width: 1024px) {
  .contact__form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 10px;
  }
  .contact__form__wrapper .contact__label {
    text-align: center;
  }
  .contact__form__wrapper .contact__input {
    margin: 0 auto;
  }
}
