.header {
	margin-top: 150px;
	min-height: 100vh;

	.background-video {
		position: absolute;
		top: 150px;
		left: 0px;
		z-index: -1;
		object-fit: cover;
		width: 100vw;
		min-height: 100vh;
		opacity: .4;
		overflow: hidden;
	}
	.header__title {
		position: relative;
		padding: 100px 15px 30px 30px;
		font-size: 5rem;
	}
	.header__text {
		position: relative;
		max-width: 700px;
		margin: 50px 0;
		padding: 15px 30px;
		font-size: 1.8rem;
	}
}

@media (max-width: 1024px) {
	.header {
		.header__title {
			font-size: 3rem;
		}
		.header__text {
			font-size: 1.3rem;
		}
		.background-video {
			top: 150px;
		}
	}
}
@media (max-width: 640px) {
	.header {
		margin-top: 0px;

		.background-video {
			top: 80px;
		}
	}
}
@media (max-width: 480px) {
	.header {
		.header__title {
			font-size: 2rem;
		}
		.header__text {
			font-size: 1rem;
		}
	}
}
