.about__open-mind {
  width: 100vw;
  padding-bottom: 80px;
  margin: 0px auto;
  background-color: #3c3c3c;
  color: #fff;
}

.about__open-mind .about__open-mind__title {
  margin: 0px;
  padding: 100px 15px 30px 15px;
  text-align: center;
}

.about__open-mind .about__open-mind__descroptions {
  padding: 0 30px;
  letter-spacing: 1px;
}

.about__owner {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: flex-start;
  background-color: #f19b29;
}

.about__owner .about__owner__description {
  letter-spacing: 1px;
  color: #3c3c3c;
}

.about__owner__container {
  max-width: 50vw;
  padding: 50px 30px;
}

.about__owner__container .about__owner__img {
  max-width: 39vw;
  object-fit: contain;
  border-radius: 50px;
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .about__owner {
    flex-direction: column;
    align-items: center;
  }
  .about__owner__container {
    max-width: 100vw;
    padding: 0px 30px;
  }
  .about__owner__container .about__owner__img {
    max-width: 80vw;
    object-fit: contain;
    margin-top: 20px;
  }
}
