.about__open-mind {
	width: 100vw;
	padding-bottom: 80px;
	margin: 0 auto;
	.about__open-mind__title {
		padding: 50px 15px 30px 15px;
		text-align: center;
	}
	.about__open-mind__descroptions {
		margin: 50px 0px;
		padding: 0 30px;
		letter-spacing: 1px;
	}
}
.about__owner {
	width: 90vw;
	margin: 80px auto;
	display: flex;
	flex-direction: row;
	justify-self: center;
	align-items: flex-start;
	background-image: url(../open-mind-it/assets/about__owner__bgc.jpg);
	background-position: center;
	background-size: cover;
	box-shadow: 32px 32px 64px #828282, -32px -32px 64px #ffffff;
	border-radius: 50px;

	.about__owner__description {
		letter-spacing: 1px;
		color: #3c3c3c;
	}
}
.about__owner__container {
	max-width: 50vw;
	margin: 50px 0px;
	padding: 0px 30px;
	.about__owner__img {
		max-width: 39vw;
		object-fit: contain;
		border-radius: 50px;
		margin-top: 100px;
	}
}
