.nav__menu__hamburger {
	display: inline-block;
	order: 1;
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin: 0 10px;
}

.nav__menu__hamburger__box {
	position: relative;
	width: 40px;
	height: 24px;
	transition: all .2s ease-in-out;
	/* background-color: #fff; */
}
.nav__menu__hamburger__inner {
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #fff;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;
	transition: background-color .3s .05s ease-in-out;
}
.nav__menu__hamburger__inner::before,
.nav__menu__hamburger__inner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #fff;
	left: 0;
	border-radius: 5px;
	transition: transform .3s .1s ease-in-out;
}
.nav__menu__hamburger__inner::before {
	top: 10px;
}
.nav__menu__hamburger__inner::after {
	top: -10px;
}
.hamburger--active .nav__menu__hamburger__inner {
	background-color: transparent;
}
.hamburger--active .nav__menu__hamburger__inner::before {
	transform: translateY(-10px) rotate(145deg);
}

.hamburger--active .nav__menu__hamburger__inner::after {
	transform: translateY(10px) rotate(-145deg);
}

@media (max-width: 639px) {
	.nav {
		justify-content: space-between;
	}
	.nav__menu {
		position: absolute;
		z-index: 1;
		transform: translateY(-120px);
		transition: transform .5s .2s ease-in-out;
		background-color: rgba(140, 118, 118);
	}

	.nav__menu__ul {
		flex-direction: column;
	}

	.nav__menu__li {
		padding: 5px;
		text-align: center;
	}
	.navMenu--active {
		position: absolute;
		/* min-height: 120px; */
		font-size: 14px;
		background-color: rgba(140, 118, 118);
		transform: translateY(110px);
		transition: transform .5s .2s ease-in-out;
		/* z-index: -1; */
	}

	/* .navMenu--active .main__header {
		margin-top: 120px;
	} */
}
