.nav__menu__hamburger {
	position: absolute;
	top: 5vh;
	left: 85vw;
	margin: 1em;
	width: 40px;
}

.nav__menu__hamburger::after,
.nav__menu__hamburger::before,
.nav__menu__hamburger__inner {
	content: "";
	display: block;
	height: 3px;
	background-color: #fff;
	margin: 7px 0;
	border-radius: 5px;
	transition: all .2s ease-in-out;
}
.nav__menu__hamburger__inner {
	background-color: red;
}

.nav__menu__hamburger:hover::after {
	transform: translateY(-5px) rotate(145deg);
}

.nav__menu__hamburger:hover::before {
	transform: translateY(15px) rotate(-145deg);
}
.nav__menu__hamburger:hover .nav__menu__hamburger__inner {
	transform: scale(0);
}

@media (max-width: 639px) {
	.nav__menu {
		display: none;
	}
}
